
:root {
    --dark-item-bg: #323232;
    --dark-background: #252526;
    --white-text: #fff;
    --hover-color: #007acc;
    font-size: 16px;
}

body {
    background: var(--dark-background);
    color: var(--white-text);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center; 
}